.header {
    text-align: center;
    color: green;
    padding-bottom: 35px;
}
 
table {
    width: 100%;
    border-collapse: collapse;
}
 
td, th {
    border: 1px solid gray;
    padding: 15px;
    font-size: 60px;
    text-align: center;
}
 
table th {
    background-color: green;
    color: white;
}

.content{
    font-size: 60px;
}